# Your Discord Bot Token
DISCORD_TOKEN=your_bot_token_here

# Channel ID where clips should be posted if DM is disabled
CLIPS_CHANNEL_ID=

# The port for the web UI
PORT=3000

# The ASR Engine, we use faster-whisper now
ASR_ENGINE=faster-whisper

# Faster-whisper model (e.g., tiny.en, base.en, small.en)
WHISPER_MODEL=base.en

# ASR server URL
ASR_URL=http://localhost:5005/transcribe
